.media-container, .media-container * {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.media-container, .media-container * {
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.media-container {
  width: 36%;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  overflow: hidden;
  vertical-align: top;
  background: white;
}